:root {
  --primary-color: #0f0c29;
  --secondary-color: #302b63;
  --accent-color: #e84545;
  --hover-accent-color: #ff4b5c;
  --background-gradient: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  --form-background: #1a1a1a;
  --text-color: #f5f5f5;
  --label-color: #c2c2c2;
  --input-border: #444;
  --input-focus-border: var(--accent-color);
  --shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background-gradient);
  margin: 0;
  padding: 0;

  height: 100vh;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-room-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.join-room-container {
  background: var(--form-background);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow-color);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.join-room-form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 0.9rem;
  color: var(--label-color);
  margin-bottom: 8px;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  background: #222;
  color: var(--text-color);
  transition: border-color 0.3s;
  padding-right: 0;
}

input[type="text"]:focus {
  border-color: var(--input-focus-border);
  outline: none;
}

.room-id-group {
  display: flex;
  align-items: center;
}

.generate-room-btn {
  background-color: var(--accent-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-room-btn:hover {
  background-color: var(--hover-accent-color);
}

.join-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.join-btn:hover {
  background-color: var(--hover-accent-color);
}

/* *  CODE EDIT *  */
.editor-page-container {
  display: flex;

  background: var(--background-gradient);
 
}

.left-sidebar {
  width: 350px;
  background-color: var(--form-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-info {
  margin-bottom: 20px;
}

.room-code {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.copy-btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.copy-btn:hover {
  background-color: var(--shadow-color);
}

.leave-btn {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.leave-btn:hover {
  background-color: var(--hover-accent-color);
}

.tabs {
  display: flex;
  margin: 0 5px;
}

.tab-btn {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--input-border);
  color: var(--text-color);
  font-size: 1rem;
  transition: background-color 0.3s;
}
.tab-btn:first-child {
  border-radius: 5px 0 0 5px;
}
.tab-btn:last-child {
  border-radius: 0px 5px 5px 0px;
}

.tab-btn.active {
  background-color: var(--secondary-color);
}

.tab-btn:hover {
  background-color: var(--primary-color);
}

.tab-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
.users-tab {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
}
.users-tab ul {
  list-style: none;
  padding: 0;
}

.users-tab ul li {
  padding: 10px;
  background-color: var(--input-border);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex-grow: 1;
  margin-bottom: 10px;
  overflow-y: auto;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
}
.message {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--input-border);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 6px;
}

.chat-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--input-border);
  color: var(--text-color);
  outline: none;
}


.right-editor {
  flex-grow: 1;
  overflow: hidden;

}
.editor-container {
  display: flex;
  flex-direction: column;
  background: var(--background-gradient);
  color: var(--text-color);
  position: relative;
 
}

.editor-section {
  padding: 20px 10px;
  background-color: #1E1E1E;
 
}

.run-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  width: 130px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 30px;
  top: 20px;
}



.output-section {
  background-color: var(--form-background);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.output-display {
  background-color: #2b2b2b;
  padding: 10px 20px;
  border-radius: 5px;
  min-height: 100px;
  max-height: 300px; /* Limit height for better design */
  overflow-y: auto; /* Add scroll if content overflows */
}

.output-display.error {
  color: #ff4b5c; /* Red color for error output */
}


/* * ERROR PAGE * */
.socket-error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--form-background);
  color: var(--text-color);
  text-align: center;
  font-family: "Arial", sans-serif;
}

.socket-error-page h1 {
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.socket-error-page p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.socket-error-page button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

/*  * 404 * */
.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--form-background);
  color: var(--text-color);
  text-align: center;
  font-family: "Arial", sans-serif;
}

.notfound-container h1 {
  font-size: 8rem;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.notfound-container p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.home-link {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}
